<div class="container">
  <div class="row justify-content-md-center">
	<div class="col-md-auto">
	<h2>Create new advert</h2>
	<br>
	<%= render 'form', ad: @ad %>
	<%= link_to 'Back', ads_path %>
	</div>
  </div>
</div>

