# See https://help.github.com/articles/ignoring-files for more.

# Ignore bundler config. Environment normalization.
/.bundle
#/vendor/bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/spec/tmp
rerun.txt

# Ignore configs.
/config/initializers/secret_token.rb
/config/secrets.yml
/config/environments
/config/initializers
/config/boot.rb
/config/cable.yml
/config/database.yml
/config/environment.rb
/config/puma.rb
/config/secrets.yml

# Ignore public.
/public/uploads/
/public/system

# Ignore dotenv.
# .env

# Ignore RVM files.	 
# Gemfile.lock, .ruby-version, .ruby-gemset
# .rvmrc
