<h2>Add advertisment type</h2>
<% @types.each do |s| %>
	<%= s.ad_type %>	  
  <% if can? :manage, s %> 
    <p>
    <%= link_to 'Edit', edit_type_path(s) %> | 
    <%= link_to 'Destroy', s, method: :delete, data: { confirm: 'Are you sure?' } %>
    </p>   
  <% end %>  
<%end%>



<p>
<%= link_to 'new type', new_type_path %>
</p>