hh MY ADS
div class="container"
  div class="row justify-content-md-center"
    - @ads.each do |ad| 
      div class="col-md-auto"
        table
          tr 
            td  
              = ad.state.upcase 
          tr
            td
              h2 | = @types.find(ad.type_id).ad_type 
          tr
            td
              h3
                b = ad.title 
          tr
            td
              = ad.body 
          tr
            td
              = link_to 'show |', ad if can? :read, ad 
              = link_to ' edit |', edit_ad_path(ad) if ad.state == 'draft' || ad.state == 'archieved'
              - if ad.state == 'draft' || ad.state == 'new' || ad.state == 'published' 
                  = link_to 'destroy', ad, method: :delete, data: { confirm: 'Are you sure?' } if can? :destroy, ad 

