<hh>EDIT <%= @user.username.upcase %> ROLE</hh>
<div class="container">
 	<div class="row justify-content-md-center">
 		<div class="col-md-auto">
   		<%= simple_form_for :user do |f| %>
				<div class="form-group">
				  <%= f.input :role, label: "Role:", required: false, collection: User.role.values %>
				</div>

				<div class="actions">
			  	<%= f.submit "Set", :class => 'btn btn-primary btn-lg' %>
			  </div>
			<% end %>
		</div>
	</div>
</div>
