<h2>edit <%= @user.username %> role</h2>

<%= form_for :user do |f| %>
	<div class="field">
	  <%= f.select :role, User.role.values %>
	</div>

	<div class="actions">
    <%= f.submit "set role" %>
  </div>

<% end %>