hh NEW USER |
div class="container"
	div class="row justify-content-md-center"
		div class="col-md-auto"
			= simple_form_for :user do |f| 
				div class="form-group"
					= f.input :username, label: "username:", required: false 
				div class="form-group"
					= f.input :email, label: "email:", required: false 
				div class="form-group"
					= f.input :password, required: false 
				div class="form-group"
					= f.input :password_confirmation, required: false 
				div class="form-group"
					= f.input :role, label: "Role:", required: false, collection: User.role.values 
				div class="actions"
					= f.submit "Set", :class => 'btn btn-primary btn-lg' 
